:root {
  --gray-high-plus: #444;
  --gray-high: #555;
  --gray-normal-plus: #999;
  --gray-normal: #aaa;
  --gray-low-plus: #ccc;
  --gray-low: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 10px;

  /* background-color: #ddd; */
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  display: inline;
  flex: 1;
  border-radius: 5px;
}

.nav-primary-list {
  background-color: #ccc;
  height: 105px;
}

.nav-primary-list li {
  margin: 0 20px;
}

.nav-secondary-list {
  overflow: scroll hidden;

  /* hide scroll */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* hide scroll */
.nav-secondary-list::-webkit-scrollbar {
  display: none;
}

.nav-secondary-list li {
  margin: 0 10px;
  min-width: 80px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 95%;
}

.front-articles {
  min-height: 900px;
  display: grid;
  grid-template: 3fr 1fr 1fr 100px / 2.5fr 1fr;
  gap: 40px;
  margin-top: 20px;
}

.front-main-article {
  grid-column: 1;
  grid-row: 1 / 2;
}

.front-seconday-articles {
  grid-column: 1;
  grid-row: 2 / 4;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.front-newsletter {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  background-color: rgba(0, 255, 255, 0.267);
  padding-top: 20px;
}

.front-newsletter > * {
  margin: 30px auto !important;
}

.front-articles article {
  padding: 20px;
}

.guides {
  width: 95%;
  min-height: 400px;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 30px;
  margin: 10px auto 40px;
}

.guides .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.grid-more {
  justify-self: center;
  width: 120px;
}

.guides .guide {
  padding: 20px;
  min-height: 350px;
}

.grid-span-h {
  grid-column: 1 / -1;
}

.grid-articles {
  display: grid;
  grid-template-columns: 15px repeat(2, 1fr) 40px;
  gap: 40px 20px;
  margin-bottom: 50px;
}

.grid-articles-main {
  grid-column: 2 / -2;
  grid-row: 1 / 2;
  height: 200px;
}

.grid-articles .container {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px 20px;
}

.grid-articles .container {
  text-align: center;
}

.grid-articles .grid-articles-title {
  grid-row: 1;
  grid-column: 1;
  align-self: flex-start;
}

.grid-article {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 350px;
  padding: 10px 20px 0 0;
}

.smashing-more {
  position: relative;

  min-height: 670px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 60px;
  margin-bottom: 50px;
}

.smashing-more .more-card {
  min-width: 460px;
  width: 100%;
  margin: 20px;
}

.container-horizontal-scroll {
  display: flex;
  overflow: scroll hidden;
  flex: 1;
  padding: 20px;
}

.smashing-more::after {
  position: absolute;
  display: block;
  background: linear-gradient(to bottom, #eee, #ddd, #ccc, #bbb, #aaa);
  width: 10px;
  content: '';
  right: 0;
  bottom: 0;
  top: 0;
}

.explore {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.big-section {
  height: 110vh;
  margin-bottom: 40px;
}

.footer {
  min-height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.5);
}

.footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer ul li {
  margin: 10px 20px 0;
  width: 60px;
  height: 30px;
}

.grid {
  display: grid;
}

.g-high-plus {
  background-color: var(--gray-high-plus) !important;
}
.g-high {
  background-color: var(--gray-high) !important;
}

.g-normal-plus {
  background-color: var(--gray-normal-plus) !important;
}
.g-normal {
  background-color: var(--gray-normal) !important;
}

.g-low-plus {
  background-color: var(--gray-low-plus) !important;
}
.g-low {
  background-color: var(--gray-low) !important;
}

.box {
  overflow: hidden;
  margin: 10px 0;
}

.box-normal {
  height: 42px;
  width: 80px;
}

.img-box {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  margin-right: 5px;
}

.img-small-box {
  height: 80px;
  width: 80px;
}

.circle {
  border-radius: 50% !important;
}

.float-box {
  overflow: hidden;
}

.float-box::after {
  content: '';
  clear: both;
  display: table;
}

.left {
  float: left;
}

.title-box {
  height: 80px;
}

.big-text-box {
  height: 40px;
}

.normal-text-box {
  height: 28px;
}

.small-text-box {
  height: 16px;
}

.big-w {
  width: 75%;
}

.half-w {
  width: 50%;
}

.small-w {
  width: 25%;
}

.mgt-35 {
  margin-top: 35px !important;
}

.mgt-25 {
  margin-top: 25px !important;
}

.mgt-20 {
  margin-top: 20px !important;
}

.mgt-10 {
  margin-top: 10px !important;
}

.mg-center {
  margin-left: auto;
  margin-right: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
